.section4 {
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}


.section4 .font-Black {
  margin-right: 46%;
  font-size: 30px;
  color: #505050;

}

.section4 .font-Orange {
  font-size: 30px;
  margin-top: -17%;
  color: #FF7152;
  z-index: 2;
  margin-left: 19.3%;
}

.section4 .examples {
  color: #FF7152;
  font-size: 30px;
}

.cardUse {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 530px;
  font-size: 25px;
  align-items: center;
  align-content: flex-start;
}

.cardUse:hover{
  scale: 1.1;
  transition: 0.5s
}

.cardUse:hover .previa{
  opacity: 0;
}

.card-imagem{
  margin: 3%;
}

.previa {
  position:absolute;
  background: white;
}

.cardUse img {
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 500px;
  margin-right: -17.5%;
}

.cardUse h2 {
  color: #505050;
  font-family: "raleway-extrabold";
}

.cardUse p {

  font-family: "raleway-regular";
  font-size: 30px;
}

.cardUse text {
  font-family: "raleway-bold";
  font-size: 20px;
}

.section4 .fontOrange {
  font-size: 25px;
  color: #FF7152;
  font-family: "raleway-bold";
}

.section4 .texto {
  display: flex;
  flex-direction: column;  
  text-align: justify;
  padding-right: 5%;
}

.section4 .title {
  display: flex;
  align-items: center;
  width: 600px;
  font-family: "raleway-extrabold";
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.19);
}

.section4 .containermain{
  display: flex;
  flex-direction: row;
}

.section4 .retangle{
  background-color: #FF7152;
  width: 110px;
  height: 140px;
  margin-top: 10px;
  margin-right: 40px;
}

.section4 .retangle2{
  background-color: #FF7152;
  width: 84px;
  height: 10px;
  margin-top: -10px;
  margin-right: 40px; 
}

.texts p{
  font-size: 22px;
  font-family: "raleway-light" ;
}

.texts h4{
  margin-top: 14px;
  font-family: "raleway-medium" ;
  color: #505050;
}