.section4 {
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

.font-Black {
  text-align: left;
  font-size: 75px;
  opacity: 70%;
  line-height: 45px;
  line-height: 50%;
  color: #000000;
  font-family: "raleway-extrabold";
  font-weight: 650;
}

.font-Orange {
  font-size: 90px;
  line-height: 30%;
  color: #ff623e;
  z-index: 2;
  margin-left: 5%;
}

.cardUse {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 530px;
  font-size: 25px;
  align-items: center;
  align-content: flex-start;
}

.cardUse img{
  display: flex;
  flex-direction: row;
  width: 260px;
  height: 500px;
  margin-right: -17.5%;
}

.cardUse h2 {
  color: #ff623e;
  font-family: "raleway-bold";
}

.cardUse p {
  font-family: "raleway";
  font-size: 20px;
}

.cardUse text {
  font-family: "raleway-bold";
  font-size: 20px;
}

.fontOrange {
  font-size: 25px;
  color: #ff623e;
  font-family: "raleway-bold";
}

.texto {
  text-align: justify;
  flex-direction: column;
  display: flex;
  padding-right: 5%;
}

.section4 .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "raleway-extrabold";
  margin-bottom: 30%;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.19);
}