.section1 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.fundo {
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.fundo::before {
  content: "";
  background-image: url("./Imgs/mesafundo.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  filter: brightness(25%) opacity(90%);
}

header {
  width: 100%;
  height: 15%;
  border-radius: 0px 0px 0px 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #97969649;
}

.logo {
  height: 133px;
  align-items: self-start;
  margin-left: 5%;
  margin-right: 17%;
}

ul {
  display: flex;
  font-family: "raleway";
}

a {
  margin: 0 20px;
  color: #fff;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
  list-style-type: none;
  transition: 0.2s;
  text-align: center;
  text-decoration: none;
}

a:hover {
  transition: 0.2s;
  background-color: #fff;
  color: #ff715282;
}

.Baixar {
  color: #fff;
  padding: 10px 25px;
  background-color: #ff7152;
  border-radius: 100px;
  width: 100px;
  text-align: center;
  list-style-type: none;
  box-shadow: 3px 6px 6px -2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 6px 6px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 6px 6px -2px rgba(0, 0, 0, 0.1);
  transition: 0.2;
  margin-left: 10cm;
}

.Baixar:hover {
  transition: 0.2;
  background-color: #fff;
  color: #ff715282;
}

.container {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.titleBox {
  flex: 50%;
  margin-left: 5%;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.font-WhiteOpace {
  text-align: left;
  font-style: Medium;
  font-size: 50px;
  opacity: 70%;
  line-height: 45px;
  line-height: 100%;
  color: #fff;
  font-weight: 600;
}

.fontOrange {
  font-size: 75px;
  line-height: 80%;
  color: #ff623e;
  font-family: "raleway-extrabold";
  z-index: 2;
}

.font-White {
  font-size: 75px;
  opacity: 90%;
  line-height: 45px;
  line-height: 100%;
  color: #fff;
}

.subtitleBox {
  font-style: Medium;
  font-size: 150%;
  opacity: 80%;
  margin-top: 5%;
  color: #dddddd;
}

.BtnDownload {
  width: 300px;
  height: 100px;
  margin-top: 7%;
}

.imgBox {
  display: flex;
  margin-left: 20%;
  margin-right: 5%;
  justify-content: flex-end;
}

.imgBox img {
  height: 800px;
  width: 800px;
}
