.section5 {
  background-image: url("./Imgs/fundo-boltneva.png");
  width: 100%;
  height: 1500px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.textofinal p{
  color: #fff;
  font-family: "raleway-semibold";
  font-size: 30px;
  text-align: justify;
  /* align-items: left; */
  margin-bottom: 10%;
  padding-left: 7%;
  padding-top: 5%;
}


.textfinal{
width: 40%;
}

.textofinal {
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textofinal img{
  height: 114px;
  margin-top: 5%;
  margin-right: 10%;
}

.textofinal #img1{
  border-right:  7px solid #ffffff;
  padding-right: 8%;
}

.textofinal #img2{
  margin-left: -8%;
  height: 130px;
}

.boxIntegrantes {
  margin-left: 10%;
  display: grid;
  grid-template-columns: auto auto auto;
  color: #fff;
}

.container-ourteam {
  display: flex;
  flex-direction: row;
  margin-top: -5%;
}

.title-ourteam {

  margin-top: 15%;
  text-align: center;
  width: 900px;
  height: 200px;
}

.font-OrangeTeam {
  font-size: 180px;
  line-height: 30%;
  color: #FF7152;
}

.font-WhiteOur {
  padding-left: 15%;
  text-align: left;
  font-size: 110px;
  opacity: 90%;
  line-height: 150px;
  color: #fff;
}

.font-OrangeTeam2 {
  font-size: 130px;
  line-height: 30%;
  color: #FF7152;
  margin-left: 70px;
  position: relative;
  z-index: 3;
}

.font-WhiteOur2 {
  padding-left: 15%;
  text-align: left;
  font-size: 80px;
  opacity: 90%;
  line-height: 150px;
  color: #fff;
}

.title-weare{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 7%;
}

.section5 .font-WhiteWe{
  margin-top: 5%;
  font-size: 130px;
  opacity: 90%;
  color: #fff;
  line-height: 60%;
  margin-left: 40px;
  font-family: "raleway-extrabold";
}

.section5 .font-OrangeAre{
  font-size: 130px;
  line-height: 30%;
  color: #FF7152;
  padding-left: 10%;
  margin-top: -10px;
  font-family: "raleway-bold";
  z-index: 3;
}