/* Estilos para largura de tela menor ou igual a 768 pixels (celular)*/
@media (max-width: 768px) {
    footer {
        display: flex;
        height: 32%;
        width: 100%;
        /* background: linear-gradient(170deg, #353130 80%, #5a5a5a ); */
        background-color: #353130;
        flex-direction: column;
    }

    .img_logo {
        display: flex;
        width: 20%;
    }

    .img_logo img {
        display: flex;
        width: 62%;
        height: 85%;
        margin-top: 8%;
        margin-left: 19%;
    }

    .container-footer-MAIN {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 95%;
    }

    .container-footer {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .boxFooter_main {
        display: flex;
        flex-direction: row;
        width: 75%;
        height: 78%;
        border-top: 5px solid #ffffffc4;
        border-bottom: 5px solid #ffffffc4;
        margin-top: 1.7%;
    }


    .boxFooter {
        display: grid;
        grid-template-columns: auto auto;
        width: 50%;
        height: 80%;
        margin-left: 10%;
        margin-top: 2.5%;
    }

    .boxFooter a {
        font-family: "raleway-bold";
        font-size: 100%;
        width: 48%;
        height: 14%;
        margin: 0 20px;
        color: #fff;
        padding-top: 4%;
        padding-bottom: 8%;
        padding-right: 6%;
        padding-left: 6%;
        border-radius: 8px;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.19);
    }

    .boxFooter a:hover {
        transition: 0.2s;
        background-color: #fff;
        color: #FF7152;
    }

    .download_box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 28%;
        height: 80%;
        margin-top: 1%;
        align-items: center;
        justify-content: center;
    }

    .btn_download {
        display: flex;
        width: 150px;
        height: 50%;
    }

    .download {
        width: 80%;
        margin-left: 10%;
    }

    .download h1 {
        display: flex;
        font-family: 'raleway-extrabold';
        color: white;
        margin-left: 14.5%;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.19);
    }

    .download h1:hover {
        transition: 0.2s;
        color: #FF7152;
    }

    .download img {
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 3%;
    }

    .download img:hover {
        scale: 1.1;
        transition: 0.2s
    }

    .copyright {
        font-family: "raleway";
        height: 5%;
        font-size: 80%;
        color: #fff;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.19);
        margin-bottom: 1%;
    }
}