footer {
  display: flex;
  height: 30%;
  background: linear-gradient(90.05deg, #525252 0.04%, #a2a2a2 99.96%);
  flex-direction: column;
}

footer img {
  display: flex;
  width: 60%;
  height: 50%;
  margin-top: 15%;
  margin-left: 35%;
}

.container-footer {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.boxFooter {
  display: grid;
  grid-template-columns:auto auto;
  width: 50%;
  height: 60%;
  padding-top: 50px;
  margin-left: 10%;
  margin-top: 1.7%;
  border-top: 7px solid #ffffffc4;
  border-bottom: 7px solid #ffffffc4;
  justify-content: center;
}

.boxFooter a {
  font-family: "raleway-bold";
  font-size: 25px;
  width: 200px;
  height: 30px;
  margin: 0 20px;
  color: #fff;
  font-weight: 300;
  padding: 10px 50px;
  border-radius: 8px;
  list-style-type: none;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.19);
  text-decoration: none;
}

.boxFooter a:hover {
  transition: 0.2s;
  background-color: #fff;
  color: #FF7152;
}

.download {
  margin-top: 5%;
  align-items: center;
  justify-content: center;
}

.download img {
  display: flex;
  width: 232px;
  height: 75px;
  margin-left: 60%;
}

.copyright {
  font-family: "raleway";
  font-size: 15px;
  color: #fff;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.19);
  margin-bottom: 5%;
}

